[submodule "Libraries/Catch2"]
	path = Libraries/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "Libraries/JUCE"]
	path = Libraries/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "Resources/Piano960-Sample-Packs"]
	path = Sample-Packs
	url = git@github.com:perintyler/Piano960-Sample-Packs.git
[submodule "Libraries/ff_meters"]
	path = Libraries/ff_meters
	url = git@github.com:ffAudio/ff_meters.git
[submodule "Libraries/tensorflow"]
	path = Libraries/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "Model/crepe"]
	path = Model/crepe
	url = git@github.com:marl/crepe.git
