name: Build & Test (Clang)
on: [push]
jobs:
  build-and-tests-with-gnu:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Clang
      uses: egor-tensin/setup-clang@v1
      with:
        version: latest
        platform: x64
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install Dependencies
      run: sudo apt-get install -y libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libasound2-dev
    - name: Create Build Directory
      run: mkdir ${{github.workspace}}/build
    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake ${{github.workspace}} -DCMAKE_C_COMPILER=/usr/bin/clang \
                                       -DCMAKE_CXX_COMPILER=/usr/bin/clang++ \
                                       -DCMAKE_INSTALL_PREFIX=/usr/local
    - name: Build Plugin & Unit-Tests and Install Samples
      working-directory: ${{github.workspace}}/build
      run: sudo make install audio-plugin unit-tests
    - name: Validate Default/Installed Presets
      working-directory: ${{github.workspace}}
      run: Scripts/validate_presets.py
    - name: Run Unit-Tests
      working-directory: ${{github.workspace}}/build
      run: ./Tests/unit-tests
    - name: Cancelling parallel jobs
      if: failure()
      uses: andymckay/cancel-action@0.2
