name: Unit Tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Dependencies
      run: sudo apt-get install -y libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libasound2-dev

    - name: Create Build Directory
      run: mkdir ${{github.workspace}}/build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake ${{github.workspace}} -DPITCH_DETECTION=YIN

    - name: Build Plugin & Unit-Tests and Install Samples
      working-directory: ${{github.workspace}}/build
      run: make unit-tests install

    - name: Validate Presets Files
      working-directory: ${{github.workspace}}
      run: python3 Scripts/validate_presets.py

    - name: Run Unit-Tests
      working-directory: ${{github.workspace}}/build
      run: ./Tests/unit-tests
