name: Unit Tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Dependencies
      run: bash ${{github.workspace}}/Scripts/install_ubuntu_requirements.sh

    - name: Create Build Directory
      run: mkdir ${{github.workspace}}/build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake ${{github.workspace}} -DCMAKE_INSTALL_PREFIX=/usr/local

    - name: Build Plugin & Unit-Tests and Install Samples
      working-directory: ${{github.workspace}}/build
      run: make unit-tests install

    - name: Run Unit-Tests
      working-directory: ${{github.workspace}}/build
      run: ./Tests/unit-tests
